@font-face {
  font-family: "cuy-font";
  src: url(BebasNeue-Regular.ttf) format("truetype");
}
* {
  font-family: cuy-font;
  padding: 0;
  margin: 0;
}
section {
  min-height: 600px;
}
.jumbotron {
  background-color: #888;
}
.jumbotron .banner img {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.jumbotron .banner {
  position: relative;
  display: flex;
  justify-content: center;
}
.jumbotron span {
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: rgba(85, 85, 85, 0.5);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s;
  cursor: pointer;
}
.jumbotron img:hover ~ span,
.jumbotron span:hover {
  transform: scale(1) rotate(360deg);
}
.jumbotron .garis {
  border-right: 5px solid #666;
}
.overlayer {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlayer img {
  width: 600px;
  height: 600px;
}
.overlayer p:hover {
  cursor: pointer;
}

.jumbotron hr {
  width: 250px;
  opacity: 1;
  border-top: 5px solid #666;
}

.jumbotron img {
  width: 200px;
  height: 200px;
}
hr {
  width: 250px;
  opacity: 1;
  border-top: 5px solid #666;
}
.jumbotron .f-1 img {
  transition: 0.5s;
}
.jumbotron .f-1 img:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .jumbotron .garis {
    border: 0;
  }
  .jumbotron .f-1 img {
    width: 100px;
    height: 100px;
  }
}
