@font-face {
  font-family: "cuy-font";
  src: url(BebasNeue-Regular.ttf) format("truetype");
}
* {
  font-family: cuy-font;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --primer: #888;
  --sidebar-color: rgb(43, 42, 42);
}
.humberger {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.humberger div {
  width: 100%;
  height: 15%;
  background-color: var(--sidebar-color);
  border-radius: 25px;
  transition: 0.5s;
}
.humberger input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
  cursor: pointer;
  z-index: 999;
}
.humberger div:nth-child(2) {
  transform-origin: 0 0;
}
.humberger div:nth-child(4) {
  transform-origin: 0 100%;
}
.humberger input:checked ~ div:nth-child(2) {
  transform: rotate(45deg);
  width: 130%;
}
.humberger input:checked ~ div:nth-child(4) {
  transform: rotate(-45deg);
  width: 130%;
}
.humberger input:checked ~ div:nth-child(3) {
  transform: scale(0);
}
body {
  padding: 0;
  margin: 0;
  position: relative;
}
main {
  width: 85%;
  height: 100%;
  position: fixed;
  right: 0;
  overflow: auto;
}
main .jumbotron,
main .contact {
  height: 100%;
}
main .project {
  min-height: 800px;
}
.sidebar {
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0;
  background-color: var(--sidebar-color);
  overflow: hidden;
  padding: 0;
  transition: 500ms;
}
.sidebar header {
  line-height: 70px;
  text-align: center;
  user-select: none;
  font-size: 22px;
}
.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  border-top: 1px solid white;
  transition: 0.5s;
  border-radius: 25px;
}
.sidebar ul a:last-child {
  border-bottom: 1px solid white;
}
.sidebar ul a:hover {
  background-color: var(--primer);
  padding-left: 50px;
}
.contact {
  min-height: 600px;
}
.jumbotron {
  background-color: var(--primer);
  height: 100%;
}
.jumbotron .banner img {
  width: 400px;
  height: 400px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.jumbotron .banner {
  position: relative;
  display: flex;
  justify-content: center;
}
.jumbotron span {
  display: block;
  width: 400px;
  height: 400px;
  position: absolute;
  background-color: rgba(85, 85, 85, 0.5);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.5s;
  cursor: pointer;
}
.jumbotron img:hover ~ span,
.jumbotron span:hover {
  transform: scale(1) rotate(360deg);
}
.jumbotron .garis {
  border-right: 5px dashed #666;
}
.overlayer {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: none;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlayer img {
  width: 30%;
  height: auto;
}
.overlayer p:hover {
  cursor: pointer;
}

.jumbotron hr {
  width: 250px;
  opacity: 1;
  border-top: 5px solid #666;
}

.jumbotron img {
  width: 200px;
  height: 200px;
}
hr {
  width: 250px;
  opacity: 1;
  border-top: 5px solid #666;
}
.jumbotron .f-1 img {
  transition: 0.5s;
}
.jumbotron .f-1 img:hover {
  transform: scale(1.1);
}
main nav {
  height: 10%;
  background-color: var(--primer);
}
@media (min-width: 1251px) {
  main nav.navbar {
    display: none;
  }
}
@media (max-width: 1251px) {
  main {
    width: 100%;
  }
  .sidebar {
    display: inherit;
    width: 50%;
    transform: translateX(-100%);
    z-index: 1;
    opacity: 0.8;
  }
  main section.project {
    min-height: 800px;
  }
}
@media (max-width: 991px) {
  .jumbotron .garis {
    border: 0;
  }
  .jumbotron .f-1 img {
    width: 100px;
    height: 100px;
  }
  .overlayer img {
    width: 60%;
    height: auto;
  }
}
@media (max-width: 576px) {
  .jumbotron .f-1 img {
    width: 60%;
    height: auto;
  }
}

.project {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(img/p1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.geser {
  transform: translateX(0);
}
